<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <link th:href="@{/styles/reset.css}" rel="stylesheet" />
    <title>FRQs</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>FRQs</h1>
        <a href="https://replit.com/@PrishaMaiti/PrishasTests#Main.java" class="btn" >Prisha</a>
        <a href="https://replit.com/@Rini/FRQs-CSA#Main.java" class="btn" >Rini</a>
        <a href="https://replit.com/@chenxinNi/FRQWork#Main.java" class="btn" >Chenxin</a>
        <a href="#" class="btn" >Adi</a>
        <a href="/aboutus" class="btn">Go Back</a>
    </div>
</header>


</body>
</html>