<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='Chemistry Sokoban Sources')">

    <body>
    <section th:fragment="content">


        <div class="showcase">
            <h1>Chemistry Sources</h1>
            <!--- insert links to websites here. make a button, have it link to a website. at least 5 websites should be sourced. -->
            <a href="https://www.khanacademy.org/science/chemistry/chemical-reactions-stoichiome/types-of-chemical-reactions/a/single-replacement-reactions" class="btn1 btn-outline-primary btn-sm">Single Replacement Reactions</a><br><br><br>
            <a href="https://youtu.be/cdvV8O90HJM" class="btn1 btn-outline-primary btn-sm">Precipitation Reactions</a><br><br><br>
            <a href="https://www.khanacademy.org/science/chemistry/chemical-reactions-stoichiome/types-of-chemical-reactions/a/double-replacement-reactions" class="btn1 btn-outline-primary btn-sm">Double Replacement Reactions</a><br><br><br>
            <a href="https://www.britannica.com/science/acid-base-reaction" class="btn1 btn-outline-primary btn-sm">Acid Base reactions</a><br><br><br>
            <a href="https://www.promega.com/resources/guides/lab-equipment-and-supplies/buffers-for-biochemical-reactions/" class="btn1 btn-outline-primary btn-sm">Buffer Reactions</a><br><br><br>
            <a href="/further_readings" class="btn1 btn-outline-primary btn-sm">Choose a Different Topic</a>
        </div>
    </section>


    </body>
</html>