<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='Physics Trivia')">

    <body>
    <section th:fragment="content">


        <div class="showcase">
            <h1>Learn More</h1>
            <h2>Here is a directory of all our sources to help prepare you for our games!</h2>
            <a href="/physics_sources" class="btn1 btn-outline-primary btn-sm" >Physics</a><br><br><br>
            <a href="/medical_sources" class="btn1 btn-outline-primary btn-sm" >Medical Emergencies</a><br><br><br>
            <a href="/plant_bio_sources" class="btn1 btn-outline-primary btn-sm" >Plant Biology</a><br><br><br>
           <!--- <a href="/plant_medicine_sources" class="btn" >Plant Medicine</a> -->
            <a href="/chemistry_sources" class="btn1 btn-outline-primary btn-sm" >Chemistry</a>
        </div>
    </section>


    </body>
</html>