<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Medical Emergencies Further Sources</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Recognizing Medical Emergencies</h1>
        <!--- insert links to websites here. -->
        <a href="https://www.redcross.org/take-a-class/cpr/performing-cpr/cpr-steps" class="btn">CPR Steps</a>
        <a href="https://medlineplus.gov/fainting.html" class="btn">Fainting</a>
        <a href="https://www.mclaren.org/main/warning-signs-of-a-heart-attack" class="btn">Heart Attacks & Strokes</a>
        <a href="https://www.mayoclinic.org/diseases-conditions/sudden-cardiac-arrest/symptoms-causes/syc-20350634" class="btn">Sudden Cardiac Arrest</a>
        <a href="https://medlineplus.gov/ency/article/001432.htm" class="btn">Vertigo-Associated Disorders</a>
        <a href="/further_readings" class="btn">Go Back</a>
    </div>
</header>
