<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Physics Further Sources</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>PHYSICS</h1>
        <!--- insert links to websites here. -->
        <a href="https://courses.lumenlearning.com/boundless-physics/chapter/basics-of-kinematics/" class="btn">Basics of Kinematics</a>
        <a href="https://www1.grc.nasa.gov/beginners-guide-to-aeronautics/newtons-laws-of-motion/" class="btn">Netwon's Laws of Motions</a>
        <a href="https://courses.lumenlearning.com/boundless-physics/chapter/work-energy-theorem/" class="btn">Work-Energy Theorem</a>
        <a href="https://www.physicsclassroom.com/class/momentum/Lesson-1/Momentum-and-Impulse-Connection" class="btn">Momentum & Impulse Connection</a>
        <a href="https://www.khanacademy.org/science/physics/linear-momentum/center-of-mass/a/what-is-center-of-mass" class="btn">Center of Mass</a>
        <a href="/further_readings" class="btn">Go Back</a>

    </div>
</header>
