<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='Physics Trivia Sources')">
    <head>
    </head>


    <body>
    <section th:fragment="content">

        <div class="showcase">
            <h1>PLANT BIOLOGY</h1>
            <!--- insert links to websites here. -->
            <a href="https://www.sciencedirect.com/topics/agricultural-and-biological-sciences/plant-biology" class="btn1 btn-outline-primary btn-sm">Science Direct</a><br><br><br>
            <a href="https://elifesciences.org/subjects/plant-biology" class="btn1 btn-outline-primary btn-sm">eLife Sciences</a><br><br><br>
            <a href="https://aspb.org/education-outreach/k12-roots-and-shoots/the-12-principles-of-plant-biology-2/" class="btn1 btn-outline-primary btn-sm">12 Principles of Plant Biology </a><br><br><br>
            <a href="https://basicbiology.net/plants" class="btn1 btn-outline-primary btn-sm">Basic Biology</a><br><br><br>
            <a href="https://link.springer.com/article/10.1007/s00425-014-2059-5" class="btn1 btn-outline-primary btn-sm">Plant Biology: Advances, Insights, Challenges</a><br><br><br>
            <a href="/further_readings" class="btn1 btn-outline-primary btn-sm">Go Back</a>
        </div>

    </section>
    </body>
</html>
