<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Plant Biology Further Sources</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>PLANT BIOLOGY</h1>
        <!--- insert links to websites here. -->
        <a href="https://www.sciencedirect.com/topics/agricultural-and-biological-sciences/plant-biology" class="btn">Science Direct</a>
        <a href="https://elifesciences.org/subjects/plant-biology" class="btn">eLife Sciences</a>
        <a href="https://aspb.org/education-outreach/k12-roots-and-shoots/the-12-principles-of-plant-biology-2/" class="btn">12 Principles of Plant Biology </a>
        <a href="https://basicbiology.net/plants" class="btn">Basic Biology</a>
        <a href="https://link.springer.com/article/10.1007/s00425-014-2059-5" class="btn">Plant Biology: Advances, Insights, Challenges</a>
        <a href="/further_readings" class="btn">Choose a Different Topic</a>
    </div>

</header>
