<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='Flappy Arcade School')">
<head>
</head>


<script th:inline="javascript">

    function changeToMasked()
    {
        document.getElementById("rini").src="images/rini_masked.png";
        document.getElementById("chenxin").src="images/chenxin_masked.png";
        document.getElementById("prisha").src="images/prisha_masked.png";
        document.getElementById("adi").src="images/adi_masked.png";
    }

    function changeToUnMasked()
    {
        document.getElementById("rini").src="images/rini_unmasked.png";
        document.getElementById("chenxin").src="images/chenxin_unmasked.jpg";
        document.getElementById("prisha").src="images/prisha_unmasked.jpg";
        document.getElementById("adi").src="images/adi_unmasked.png";
    }

</script>

<body>
<section th:fragment="content">
    <div th:replace="/fragments/head :: header"></div>
    <div th:replace="fragments/overlaymenu :: overlaymenu">...</div>
    <br>
    <br>
    <h1>Meet the Team: About Us</h1>
    <h2>Meet Team Flappy Bird, the creators behind this website.</h2>

    <!--- lead to journals/possibly embeds + frqs -->
    <button type="button" class="btn1 btn-outline-primary btn-sm" onclick="window.location.href='https://rkwreck.github.io/team_flappy_bird/';">READ.me</button>

    <!--- buttons to switch between masked & unmasked images -->
    <input type="button"  class="btn1 btn-outline-primary btn-sm" onclick="changeToMasked();" value="Masked Images">
    <input type="button"  class="btn1 btn-outline-primary btn-sm" onclick="changeToUnMasked();" value="UnMasked Images">
    <br>
    <br>
    <div class="container">
        <div class="row">

            <!--- prisha's pictures & link to individual home page -->
            <div class="col-sm-3">
                <div class="card">
                <img class="img-box" id="prisha" src="/images/prisha_unmasked.jpg"/>
                <a href="/greetPrisha" class="btn1 btn-outline-primary btn-sm">
                    Prisha
                </a>
                </div>
            </div>

            <!--- rini's pictures & link to individual home page -->
            <div class="col-sm-3">
                <div class="card">
                <img class="img-box" id="rini" src="/images/rini_unmasked.png"/>
                <a href="/greetRini" class="btn1 btn-outline-primary btn-sm">
                    Rini
                </a>
                </div>
            </div>

            <!--- chenxin's pictures & link to individual home page -->
            <div class="col-sm-3">
                <div class="card">
                <img class="img-box" id="chenxin" src="/images/chenxin_unmasked.jpg"/>
                <a href="/greetChenxin" class="btn1 btn-outline-primary btn-sm">
                    Chenxin
                </a>
                </div>
            </div>

            <!--- adi's pictures & link to individual home page -->
            <div class="col-sm-3">
                <div class="card">
                <img class="img-box" id="adi" src="/images/adi_unmasked.png"/>
                <a href="/greetAdi" class="btn1 btn-outline-primary btn-sm">
                    Adi
                </a>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>
</body>