<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='About Prisha')" xmlns="http://www.w3.org/1999/html">
    <head>
    </head>


    <body>
        <section th:fragment="content">

            <div class="showcase">

                <body>
                    <div class="container showcase-inner">
                        <h1>Rini</h1>
                        <br>
                    <h2>Hello! My name is Rini.</h2>
                    <br>
                    <h2>I am a sophmore taking AP Computer Science A. Some fun facts about me are that I love ice cream, and my favorite subject is science! :D</h2>
                    <h2>Age: 16</h2>
                    <h2>Role in Team: Scrum Master & Github Admin</h2>
                    <a href="https://docs.google.com/document/d/1MGJnbg-C82_RHkVBFWTm0NsNgXVti9ACZfjGJobwdt8/edit?usp=sharing" class="btn1 btn-outline-primary btn-sm" >My Journal</a>
                    <a href="https://replit.com/@Rini/FRQs-CSA#Main.java" class="btn1 btn-outline-primary btn-sm" >FRQs</a>


                    <!---database button-->
                    <div class="row justify-content-md-center">
                        <a th:href="@{/friends/}" class="btn1 btn-outline-primary btn-sm">Add Friends</a>
                    </div>

                    <div class="row justify-content-md-center">
                        <a th:href="@{/draw/}" class="btn1 btn-outline-primary btn-sm">Draw A Square!</a>
                    </div>

                    <!--- song api -->
                     <form action="/greetRini" method="GET" id="songapi">
                        <div class="container">
                            <h1 style="text-align: center; ">Song info</h1>
                            <label for="songapi">Input artist's last name:</label>
                            <input name="sym" id="sym">
                            <button>Search</button>
                        </div>
                    </form>
                    <br>
                    <table class="table">
                        <tr>
                            <th>Artist names</th>
                            <th>Song Title</th>
                            <th>Link to lyrics</th>
                        </tr>
                        <tr th:each="song : ${map.response.hits}">
                            <td th:text="${song.result.artist_names}"></td>
                            <td th:text="${song.result.title}"></td>
                            <td th:text="${song.result.url}"></td>
                        </tr>
                    </table>
                </div>
                </body>
            </div>
            </section>
    </body>
</html>