<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='About Prisha')">
<head>
</head>


<body>
<section th:fragment="content">

    <div class="showcase">

    <body>


    <div class="container showcase-inner">
        <h1>Prisha</h1>
        <br>
        <h2>I am a junior taking AP Computer Science A. I want to make the most out of my life and have fun coding!</h2>
        <h2>Age: 16</h2>
        <h2> Role in Team: Design Manager</h2>
        <a href="https://docs.google.com/document/d/1UMpUJh6ypdTm1OwjPtjGThXWPG4ovmtr2x3-fMQVwFc/edit?usp=sharing" class="btn1 btn-outline-primary btn-sm" style="margin-bottom: 10px">My Journal</a>
        <a href="https://replit.com/@PrishaMaiti/PrishasTests#Main.java" class="btn1 btn-outline-primary btn-sm" >FRQs</a>

        <div>
            <iframe width="100%" height="500px" src="https://replit.com/@PrishaMaiti/PrishasTests?lite=true" title="My Repl"></iframe>
        </div>

        <form action="/greetPrisha" method="GET" id="zeldaapi">
            <div class="container">
                <h1 style="text-align: center;">Get Legend of Zelda games info</h1>
                <label for="zeldaapi">Input game name:</label>
                <input name="sym" id="sym">
                <button>Search</button>
            </div>
        </form>
        <br>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Developer</th>
                <th>Release Date</th>
            </tr>
            <!-- <tr th:each="game : ${map.stuff}">
                <td th:text="${game.name}"></td>
                <td th:text="${game.developer}"></td>
                <td th:text="${game.released_date}"></td>
            </tr> -->
        </table>
    </div>
    </body>
    </div>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

    </style>
</section>
</body>
</html>

