<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='About Prisha')">
<head>
</head>


<body>
<section th:fragment="content">

    <div class="showcase">

        <body>


        <div class="container showcase-inner">
            <h1>Adi</h1>
    <h2>Hello! My name is Adi.</h2>

    <h2>I am a senior taking AP Computer Science A. I thrive in computer science by eating dark chocolate raspberry squares and drinking starbucks :)</h2>
    <h2>Age: 17</h2>
    <h2>Role in Team: Technical Officer</h2>
    <a href="https://padlet.com/adhithinmurthy07/qpjul2mieejnr1d6" class="btn1 btn-outline-primary btn-sm">My Journal</a>
    <a href="#" class="btn1 btn-outline-primary btn-sm" >FRQs</a>


        <!---database button-->
    <div class="row justify-content-md-center">
        <a href="/friends" class="btn1 btn-outline-primary btn-sm">Add Friends</a>
    </div>

    <div class="row justify-content-md-center">
        <a href="/draw" class="btn1 btn-outline-primary btn-sm">Draw A Square!</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Person</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${list}">
            <td th:text="${person.id}">Person ID</td>
            <td th:text="${person.email}">Birth Date</td>
            <td th:text="${person.name}">Name</td>
            <td th:if="${person.getAge() != -1}" th:text="${person.getAge()}">Age</td>
            <td th:unless="${person.getAge() != -1}" th:text="Unknown">Unknown Age</td>
            <td>
                <a th:href="@{/updatePerson/{id}(id = ${person.id})}">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="/greetAdi" method="GET" id="healthapi">
        <div class="container">
            <h1 style="text-align: center">Diseases of body parts</h1>
            <label for="healthapi">Input body part:</label>
            <input name="sym" id="sym">
            <button>Search</button>
        </div>
    </form>
    <br>
    <table class="table">
        <tr>
            <th>Disease name</th>
        </tr>
        <tr th:each="disease : ${map.data.result}">
            <td>
                <p th:each="ill : ${disease.causes}">
                    <span th:text="${ill.illness}"></span>
                </p>
            </td>
        </tr>
    </table>
</div>
        </body>
    </div>
</section>
</body>
</html>