<!DOCTYPE html>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
       lang="en">
<head>
  <div th:replace="fragments/overlaymenu :: commonhead">...</div>
  <title>Adi</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>



<header class="showcase">
    <div class="container showcase-inner">
    <br>

    <h1>Adi</h1>
    <p th:text="'Hello! My name is Adi.'"></p>

    <p>I am a senior taking AP Computer Science A. I thrive in computer science by eating dark chocolate raspberry squares and drinking starbucks :)</p>
    <p>Age: 17</p>
    <p>Role in Team: Technical Officer</p>
    <a href="https://padlet.com/adhithinmurthy07/qpjul2mieejnr1d6" class="btn">My Journal</a>
    <a href="#" class="btn" >FRQs</a>


        <!---database button-->
    <div class="row justify-content-md-center">
        <a th:href="@{/friends/}" class="btn">Add Friends</a>
    </div>

    <div class="row justify-content-md-center">
        <a th:href="@{/draw/}" class="btn">Draw A Square!</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Person</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${list}">
            <td th:text="${person.id}">Person ID</td>
            <td th:text="${person.email}">Birth Date</td>
            <td th:text="${person.name}">Name</td>
            <td th:if="${person.getAge() != -1}" th:text="${person.getAge()}">Age</td>
            <td th:unless="${person.getAge() != -1}" th:text="Unknown">Unknown Age</td>
            <td>
                <a th:href="@{/updatePerson/{id}(id = ${person.id})}">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="/greetAdi" method="GET" id="healthapi">
        <div class="container">
            <h1 style="text-align: center">Diseases of body parts</h1>
            <label for="healthapi">Input body part:</label>
            <input name="sym" id="sym">
            <button>Search</button>
        </div>
    </form>
    <br>
    <table class="table">
        <tr>
            <th>Disease name</th>
        </tr>
        <tr th:each="disease : ${map.data.result}">
            <td>
                <p th:each="ill : ${disease.causes}">
                    <span th:text="${ill.illness}"></span>
                </p>
            </td>
        </tr>
    </table>
</div>

    <div>

        <iframe frameborder="0" width="100%" height="500px" src="https://replit.com/@AdhithiNarayana/FullPalatableRevisioncontrol#Main.java"></iframe>

    </div>
</header>