<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='Flappy Arcade School')">
<head>
</head>


<body>
<section th:fragment="content">

    <div class="showcase">
        <br>
        <br>
        <h1>Our Purpose</h1>
        <br>
        <br>
        <h2>Develop mini-games to make coding more accessible to people.</h2>
        <h2>Educate people on how computer science applies to various topics.</h2>
        <h2>Encourage people to develop their own games and learn computer science.</h2>
        <br>
        <br>
        <a href="gamesHomepage" class="btn1 btn-outline-primary btn-sm">
            [ Click here to play our games ]
        </a>

    </div>
</section>


</body>
</html>