<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <link th:href="@{/styles/reset.css}" rel="stylesheet" />
    <link rel="stylesheet" href="med_game_style.css">
    <title>Medical Trivia</title>
</head>

<body>
    <div class="container">
        <div id="end" class="flex-center flex-column">
            <h1 id="finalScore">0</h1>
            <form class="end-form-container">
                <h2 id="end-text">Enter your name below to save your score</h2>
                <input type="text" name = "name" id = "username" placeholder = "Enter your name">
                <button class="btn" id="saveScoreBtn" type = "submit" onclick = "saveHighScore(event)" disabled>Save</button>
            </form>
            <a href="/medicalTrivia.html" class="btn">Play Again</a>
            <a href="/medical_game.html" class="btn">Go Home</a>

        </div>
    </div>
    <script src="end.js"></script>
</body>

</html>