<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <link th:href="@{/styles/reset.css}" rel="stylesheet" />
    <link rel="stylesheet" href="med_game_style.css">
    <link rel="stylesheet" href="highscor.css">

    <title>Medical Trivia</title>
</head>

<body>
    <div class="container">
        <div id="highScores" class="flex-center flex-column">
            <h1 id="finalScore">Leaderboard</h1>
            <ul id="highScoresList"></ul>
            <a href="/medical_game" class="btn">Go Home</a>
        </div>
    </div>
    <script src="highscores.js"></script>
</body>

</html>