<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="commonhead">
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link th:href="@{/styles/style.css}" rel="stylesheet" />
  <link th:href="@{/styles/menu.css}" rel="stylesheet" />


  <script>
    const search = document.getElementById('search');
    const google = 'https://www.google.com/search?q=site%3A+';
    const site = 'https://flappybird.cf';

    function submitted(event) {
      if (event.key === 'Enter') {
        event.preventDefault();
        const url = google
                + site
                + '+'
                + search.value;
        const win = window.open(url, '_blank');
        win.focus();
      }
    }
    search.addEventListener('keypress', submitted);

    function closeOverlayMenu() {
      let chkBtn = document.getElementById('OverlayMenuClickBtn');
      if(chkBtn.checked == true) {
        chkBtn.checked = false;
      }
    }

    function toggleCurrentTheme() {
      var element = document.body;
      element.classList.toggle("swimmy-bird");
    }

    function getCurrentThemeName() {
      if(element.classList.contains("swimmy-bird")) {
        return "Swimmy Bird";
      } else {
        return "Flappy Bird";
      }
    }
  </script>
</head>



<body>

<div th:fragment="overlaymenu">
  <div class="menu-wrap">
    <input type="checkbox" class="toggler" id="OverlayMenuClickBtn">
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <!-- <li><button onclick="document.getElementById('OverlayMenuClickBtn').checked = false;">Home</button></li> -->
            <li><a href="/" onclick="closeOverlayMenu();">Home</a></li>
            <li><a href="gamesHomepage" onclick="closeOverlayMenu();">Games</a></li>
            <li><a href="further_readings" onclick="closeOverlayMenu();">Learn</a></li>
            <li><a href="aboutus" onclick="closeOverlayMenu();">About Us</a></li>
            <li><a href="ourPurpose" onclick="closeOverlayMenu();">Our Purpose</a></li>
            <li><a onclick="closeOverlayMenu(); toggleCurrentTheme();">Enable Other Theme</a></li>
          </ul>
          <div class="px-3">
            <input id="search" type="search" placeholder="Search" aria-label="Search">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div th:fragment="header">
  <h1>Thymeleaf Fragments sample</h1>
</div>
<p>Go to the next page to see fragments in action</p>
<aside>
  <div>This is a sidebar</div>
</aside>
<div class="another">This is another sidebar</div>

<footer th:fragment="footer">
  <a th:href="@{/fragments}">Fragments Index</a> |
  <a th:href="@{/markup}">Markup inclusion</a> |
  <a th:href="@{/params}">Fragment params</a> |
  <a th:href="@{/other}">Other</a>
</footer>

</body>


</html>