<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <link th:href="@{/styles/reset.css}" rel="stylesheet" />
    <title>About Us</title>
</head>

<body>
<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<script th:inline="javascript">

    function changeMasked()
    {
        document.getElementById("rini").src="images/rini_masked.png";
        document.getElementById("chenxin").src="images/chenxin_masked.png";
        document.getElementById("prisha").src="images/prisha_masked.png";
        document.getElementById("adi").src="images/adi_masked.png";
    }

    function changeUnMasked()
    {
        document.getElementById("rini").src="images/rini_unmasked.png";
        document.getElementById("chenxin").src="images/chenxin_unmasked.jpg";
        document.getElementById("prisha").src="images/prisha_unmasked.jpg";
        document.getElementById("adi").src="images/adi_unmasked.png";
    }

</script>

<style>
    .wrapper {

        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 160px;
        grid-gap: 10px;
        color: steelblue;
    }
    .box {
        background-color: lightskyblue;
        color: #fff;
        border-radius: 5px;
        padding: 5px;
        font-size: 100%;
        max-height: 160px;
    }
    img {
        max-width: 80%;
        max-height: 80%;
    }
    .description {
        padding: 10px;
    }
</style>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Meet the Team: About Us</h1>
        <p>Meet Team Flappy Bird, the creators behind this website.</p>
        <input type="button"  class="btn" onclick="changeMasked();" value="Masked Images">
        <input type="button"  class="btn" onclick="changeUnMasked();" value="UnMasked Images">
        <div class="wrapper">

            <!--- prisha's pictures & link to individual home page -->
            <div class="box">
                <img id="prisha" src="/images/prisha_unmasked.jpg"/>
                <a href="/greetPrisha">
                    <p style="color: dodgerblue">Prisha Maiti</p>
                </a>
            </div>

            <!--- rini's pictures & link to individual home page -->
            <div class="box">
                <img id="rini" src="/images/rini_unmasked.png"/>
                <a href="/greetRini">
                    <p style="color: dodgerblue">Rini Khandelwal</p>
                </a>
            </div>

            <!--- chenxin's pictures & link to individual home page -->
            <div class="box">
                <img id="chenxin" src="/images/chenxin_unmasked.jpg"/>
                <a href="/greetChenxin">
                    <p style="color: dodgerblue">Chenxin Ni</p>
                </a>
            </div>

            <!--- adi's pictures & link to individual home page -->
            <div class="box">
                <img id="adi" src="/images/adi_unmasked.png"/>
                <a href="/greetAdi">
                    <p style="color: dodgerblue">Adi NarayanaMurthy</p>
                </a>
            </div>
        </div>
    </div>
</header>