<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <link th:href="@{/styles/reset.css}" rel="stylesheet" />
    <title>About Us</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>About Us</h1>
        <section class="thumbnail-grid">
            <ul>
                <li>
                    <a href="#" title="Click to see more">
                        <figure>
                            <div class="thumbnail">
                                <span class="overlay">View</span>
                                <img src="bulb_off.jpg" alt="Student" />
                                <figcaption>
                                    <p class="description">Prisha Maiti
                                        <span class="price">Grade 11</span>
                                    </p>
                                </figcaption>
                            </div>
                        </figure>
                    </a>
                </li>

                <li>
                    <a href="#" title="Click to see more">
                        <figure>
                            <div class="thumbnail">
                                <span class="overlay">View</span>
                                <img src="bulb_off.jpg" alt="Student" />
                                <figcaption>
                                    <p class="description">Prisha Maiti
                                        <span class="price">Grade 11</span>
                                    </p>
                                </figcaption>
                            </div>
                        </figure>
                    </a>
                </li>

                <li>
                    <a href="#" title="Click to see more">
                        <figure>
                            <div class="thumbnail">
                                <span class="overlay">View</span>
                                <img src="bulb_off.jpg" alt="Student" />
                                <figcaption>
                                    <p class="description">Prisha Maiti
                                        <span class="price">Grade 11</span>
                                    </p>
                                </figcaption>
                            </div>
                        </figure>
                    </a>
                </li>
            </ul>
        </section>
    </div>
</header>