<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Chemistry Further Sources</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>CHEMISTRY</h1>
        <a href="/further_readings" class="btn">Go Back</a>
        <!--- insert links to websites here. make a button, have it link to a website. at least 5 websites should be sourced. -->
        <a href="#" class="btn">Source 1 Name</a>
        <a href="#" class="btn">Source 2 Name</a>
        <a href="#" class="btn">Source 3 Name</a>
        <a href="#" class="btn">Source 4 Name</a>
        <a href="#" class="btn">Source 5 Name</a>




    </div>
</header>


</body>
</html>