<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <link th:href="@{/styles/reset.css}" rel="stylesheet" />
    <title>Adi FRQ</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Adi's FRQs</h1>
        <a href="/physics_sources" class="btn" >Unit 2</a>
        <a href="/coinGame" class="btn" >Unit 3</a>
        <a href="/plant_bio_sources" class="btn" >Unit 4</a>
        <a href="/plant_medicine_sources" class="btn" >Unit 5</a>
        <a href="/chemistry_sources" class="btn" >Unit 6</a>
        <a href="/frq_directory" class="btn">Go Back</a>
    </div>
</header>

</body>
</html>