<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Read More</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <p>Here are sources related to the games you've played. Learn more about:</p>
        <a href="#" class="btn" >Physics</a>
        <a href="#" class="btn" >Medical Emergencies</a>
        <a href="#" class="btn" >Plant Biology</a>
        <a href="#" class="btn" >Plant Medicine</a>
        <a href="#" class="btn" >Chemistry</a>
    </div>
</header>


</body>
</html>