<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Games</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Games</h1>
        <p>We have 3 games here.</p>
        <p>More more more...</p>
        <a href="game1" class="btn">Game 1</a>
        <a href="game2" class="btn">Game 2</a>
        <a href="game2" class="btn">Game 3</a>
    </div>
</header>