<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Our Purpose</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1 style="font-family: 'Courier New'">Game 1</h1>
        <p style="font-family: 'Roboto'; color: white">Game 1 is a trivia game about physics.</p>
        <p style="font-family: 'Roboto'; color: white">There are 10 questions. Once you enter an answer, you cannot change it.</p>
        <p style="font-family: 'Roboto'; color: white">When you finish answering all 10 questions, your score will be revealed.</p>
        <a href="#" class="btn" style="font-family: 'Roboto'">Play Now</a>
        <a href="#" class="btn" style="font-family: 'Courier New'">Read More</a>

    </div>
</header>


</body>
</html>