<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Our Purpose</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Game 1</h1>
        <p>Game 1 is a trivia game about physics.</p>
        <p>There are 10 questions. Once you enter an answer, you cannot change it.</p>
        <p>When you finish answering all 10 questions, your score will be revealed.</p>
        <a href="#" class="btn" >Play Now!</a>
    </div>
</header>


</body>
</html>