<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Our Purpose</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>
<style>

</style>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Game 3</h1>
        <p>Game 3 is a very interesting game.</p>
        <p>Educate people on how computer science applies to various topics.</p>
        <p>Encourage people to develop their own games and learn computer science.</p>
        <a href="#" class="btn">Play Now</a>
        <a href="/further_readings" class="btn">Read More</a>    </div>
</header>


</body>
</html>