<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <div th:replace="fragments/overlaymenu :: commonhead">...</div>
  <title>Games</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
  <div class="container showcase-inner">
    <h1>Chenxin's Individual Home Page</h1>
    <p th:text="'Greetings! My name is Chenxin.'"></p>
    <form action="/greetChenxin" method="GET" id="greetForm">
      <label for="greetField">What's your name?</label>
      <input name="name" id="greetField">
      <button class='start-btn'>Greetings!</button>
      <p th:text="'Hello, ' + ${name} + '!'"></p>
      <p th:text="'I like biking in canyon trails, and I have gotten stitches from falling off my bike!'"></p>
    </form>
  </div>
</header>