<!DOCTYPE html>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
       lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Games</title>

    <style>
        /*
          Rollover Image
         */
        .figure {
            position: relative;
            width: 360px; /* can be omitted for a regular non-lazy image */
            max-width: 100%;
        }
        .figure img.image-hover {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            object-fit: contain;
            opacity: 0;
            transition: opacity .2s;
        }
        .figure:hover img.image-hover {
            opacity: 1;
        }
    </style>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Adi</h1>
        <p style="font-family: 'Courier New'" th:text="'Hello! My name is Adi.'"></p>
        <br>
        <!---<div class="figure">
            <img class="image-main" src="https://github.com/rkwreck/team_flappy_bird/blob/master/src/main/resources/static/images/adi_unmasked.png" srcset="https://github.com/rkwreck/team_flappy_bird/blob/master/src/main/resources/static/images/adi_unmasked.png 2x" alt="Demo image 1">
            <img class="image-hover" src="https://github.com/rkwreck/team_flappy_bird/blob/master/src/main/resources/static/images/adi_masked.png" srcset="https://github.com/rkwreck/team_flappy_bird/blob/master/src/main/resources/static/images/adi_masked.png 2x" alt="Demo image 2">
        </div> -->

        <p style="font-family: 'Courier New'">I am a senior taking AP Computer Science A. I thrive in computer science by eating dark chocolate raspberry squares and drinking starbucks :)</p>
        <p style="font-family: 'Courier New'">Age: 17</p>
        <p style="font-family: 'Courier New'">Role in Team: Technical Officer</p>
        <a href="https://padlet.com/adhithinmurthy07/qpjul2mieejnr1d6" class="btn" style="font-family: 'Courier New'">My Journal</a>

        <div class="row justify-content-md-center">
            <a th:href="@{/createPerson/}">Create Person</a>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Person</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${list}">
                <td th:text="${person.id}">Person ID</td>
                <td th:text="${person.email}">Birth Date</td>
                <td th:text="${person.name}">Name</td>
                <td th:if="${person.getAge() != -1}" th:text="${person.getAge()}">Age</td>
                <td th:unless="${person.getAge() != -1}" th:text="Unknown">Unknown Age</td>
                <td>
                    <a th:href="@{/updatePerson/{id}(id = ${person.id})}">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
        <form action="/greetAdi" method="GET" id="healthapi">
            <div class="container">
                <h1 style="text-align: center; font-family: 'Courier New'">Diseases of body parts</h1>
                <label for="healthapi">Input body part:</label>
                <input name="sym" id="sym">
                <button>Search</button>
            </div>
        </form>
        <br>
        <table class="table">
            <tr>
                <th>Disease name</th>
            </tr>
            <tr th:each="disease : ${map.data.result}">
                <td>
                    <p th:each="ill : ${disease.causes}">
                        <span th:text="${ill.illness}"></span>
                    </p>
                </td>
            </tr>
        </table>
    </div>
</header>