<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Games</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Prisha's Individual Home Page</h1>
        <form action="/greetPrisha" method="GET" id="greetForm">
            <p><label for="greetField">What's your name?</label></p>
            <input name="name" id="greetField">
            <button class='start-btn'>Greetings!</button>
            <p th:text="'Hello, ' + ${name} + '! My name is Prisha.'"></p>
            <br>
            <p>I am a junior taking AP Computer Science A. I want to make the most out of my life and have fun coding!</p>
            <p>Age: 16</p>
            <p>Role in Team: Primary Designer</p>
            <a href="https://docs.google.com/document/d/1UMpUJh6ypdTm1OwjPtjGThXWPG4ovmtr2x3-fMQVwFc/edit?usp=sharing" class="btn">My Journal</a>
        </form>
    </div>
</header>
    </body>
</html>

