<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Games</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1 style="font-family: 'Courier New'">Adi's Individual Home Page</h1>
        <form action="/greetAdi" method="GET" id="greetForm">
            <p style="font-family: 'Courier New'"><label for="greetField">What's your name?</label></p>
            <input name="name" id="greetField">
            <button class='start-btn'>Greetings!</button>
            <p style="font-family: 'Courier New'" th:text="'Hello, ' + ${name} + '! My name is Adi.'"></p>
            <br>
            <p style="font-family: 'Courier New'" th:text="'I am a senior taking AP Computer Science A. I thrive in computer science by eating dark chocolate raspberry squares and drinking starbucks :)'"></p>
            <p style="font-family: 'Courier New'">Age: 17</p>
            <p style="font-family: 'Courier New'">Role in Team: Technical Officer</p>
        </form>
    </div>
</header>