<!DOCTYPE html>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
       lang="en">
<head>
  <div th:replace="fragments/overlaymenu :: commonhead">...</div>
  <title>Games</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
  <div class="container showcase-inner">
    <h1>Chenxin</h1>
    <p th:text="'Greetings! My name is Chenxin.'"></p>
    <p th:text="'I am a junior taking AP Computer Science A. I like biking in canyon trails, and I have gotten stitches from falling off my bike!'"></p>
    <p>Age: 16</p>
    <p>Role in Team: Deployment Manager</p>
    <button type="button" class="btn" onclick="window.location.href='https://docs.google.com/document/d/1Yva-kQ3c_p_qO1O4K9rHbdkfy4ubx91boqDq0Vm5avo/edit?usp=sharing';">Individual Journal</button>
    <!--<form action="/greetChenxin" method="GET" id="greetForm">
      <label for="greetField">What's your name?</label>
      <input name="name" id="greetField">
      <button class="btn">Greetings!</button>
      <p th:text="'Hello, ' + ${name} + '!'"></p>
    </form> -->
    <br>
    <form action="/greetChenxin" method="GET" id="freeapi">
      <div class="container">
        <h1 style="text-align: center;">Get Free-to-play game info</h1>
        <label for="freeapi">Input game ID:</label>
        <input name="sym" id="sym">
        <button>Search</button>
      </div>
    </form>
    <br>
    <p>Name: <span th:text="${game}"></span></p>
    <br>
    <p>Genre: <span th:text="${genre}"></span></p>
  </div>
</header>
</body>
</html>