<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Games</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Adi's Individual Home Page</h1>
        <form action="/greetAdi" method="GET" id="greetForm">
            <p><label for="greetField">What's your name?</label></p>
            <input name="name" id="greetField">
            <button class='btn'>Greetings!</button>
            <p th:text="'Hello, ' + ${name} + '! My name is Adi.'"></p>
            <br>
            <p th:text="'I am a senior taking AP Computer Science A. I thrive in computer science by eating dark chocolate raspberry squares and drinking starbucks :)'"></p>
            <p>Age: 17</p>
            <p>Role in Team: Technical Officer</p>
            <a href="https://padlet.com/adhithinmurthy07/qpjul2mieejnr1d6" class="btn">My Work</a>
        </form>
    </div>
</header>