<!DOCTYPE html>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
       lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Games</title>
</head>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

</style>

<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>


<header class="showcase">
    <div class="container showcase-inner">
        <h1>Prisha</h1>
        <br>
        <p>I am a junior taking AP Computer Science A. I want to make the most out of my life and have fun coding!</p>
        <p>Age: 16</p>
        <p> Role in Team: Primary Designer</p>
        <a href="https://docs.google.com/document/d/1UMpUJh6ypdTm1OwjPtjGThXWPG4ovmtr2x3-fMQVwFc/edit?usp=sharing" class="btn" style="margin-bottom: 10px">My Journal</a>

        <!---database button-->
        <div class="row justify-content-md-center">
            <a th:href="@{/friends/}" class="btn" style="margin-bottom: 15px; font-family: 'Roboto'">Add Friends</a>
        </div>

        <div class="row justify-content-md-center">
            <a th:href="@{/draw/}" class="btn" style="font-family: 'Roboto'">Draw A Square!</a>
        </div>

        <div class="row justify-content-md-center">
            <a href="/coinGame" style="font-family: 'Roboto'">Coin Game!</a>
        </div>

        <form action="/greetPrisha" method="GET" id="zeldaapi">
            <div class="container">
                <h1 style="text-align: center;">Get Legend of Zelda games info</h1>
                <label for="zeldaapi">Input game name:</label>
                <input name="sym" id="sym">
                <button>Search</button>
            </div>
        </form>
        <br>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Developer</th>
                <th>Release Date</th>
            </tr>
            <tr th:each="game : ${map.data}">
                <td th:text="${game.name}"></td>
                <td th:text="${game.developer}"></td>
                <td th:text="${game.released_date}"></td>
            </tr>
        </table>
    </div>
</header>
</body>
</html>

