<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Welcome to Home Page</title>
</head>


<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas maiores sint impedit delectus quam molestiae explicabo cum facere ratione veritatis.</p>
        <a href="games" class="btn">Games</a>
        <a href="ourPurpose" class="btn">Our Purpose</a>
    </div>
</header>

</body>
</html>