<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='Flappy Arcade School')">
<head>
</head>


<body>
<section th:fragment="content">

    <div class="showcase">
        <br>
        <br>
        <h1>Flappy Arcade School</h1>
        <h2>Find the most entertaining educational minigames in one place!</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Games Directory</h2>
                        <p class="card-text">
                            Visit our games directory to play the minigames.
                        </p>

                        <a href="gamesHomepage" class="btn1 btn-outline-primary btn-sm">
                            Click here
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">About Us</h2>
                        <p class="card-text">
                            Meet Team Flappy Bird, the creators behind Flappy Arcade School.
                        </p>

                        <a href="aboutus" class="btn1 btn-outline-primary btn-sm">
                            Click here
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Our Mission</h2>
                        <p class="card-text">
                            Discover our purpose behind creating Team Flappy Bird.
                        </p>

                        <a href="ourPurpose" class="btn1 btn-outline-primary btn-sm">
                            Click here
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>
</body>
</html>
