<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='Flappy Arcade School')">
<head>
</head>


<body>
<section th:fragment="content">

<div class="showcase">
    <h1>Flappy Arcade School</h1>
    <h2>Find the most entertaining educational minigames in one place!</h2>
    <br>
    <br>
</div>

<div class="showcase">

    <div class="row">
        <div class="col-sm-4">
            <a href="games_home_page" class="btn1">Directory</a>
        </div>
        <div class="col-sm-4">
            <a href="aboutus" class="btn1">Our Team</a>
        </div>
        <div class="col-sm-4">
            <a href="/templates/aboutus/ourPurpose" class="btn1">Our Mission</a>
        </div>
    </div>
</div>


</section>
</body>
</html>
