<!-- This page is illustrative and contains ideas about HTML layouts -->
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      th:fragment="page(title, subtitle, link)">

<head>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="" alt="">

        <div class="card-body">
          <h2 class="card-title">Directory</h2>
          <p class="card-text">
            Visit our games directory to play the minigames.
          </p>

          <a href="games_home_page" class="btn btn-outline-primary btn-sm">
            Click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="" alt="">

        <div class="card-body">
          <h2 class="card-title">About Us</h2>
          <p class="card-text">
            Meet Team Flappy Bird, the creators behind Flappy Arcade School.
          </p>

          <a href="aboutus" class="btn btn-outline-primary btn-sm">
            Click here
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="" alt="">

        <div class="card-body">
          <h2 class="card-title">Our Mission</h2>
          <p class="card-text">
            Discover our purpose behind creating Team Flappy Bird.
          </p>

          <a href="ourPurpose" class="btn btn-outline-primary btn-sm">
            Click here
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>


</html>