<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Our Purpose</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1 style="font-family: 'Courier New'">Our Purpose</h1>
        <p style="font-family: 'Courier New'">Develop mini-games to spread knowledge.</p>
        <p style="font-family: 'Courier New'">Educate people on how computer science applies to various topics.</p>
        <p style="font-family: 'Courier New'">Encourage people to create their own games and learn computer science.</p>
        <!--- <a href="#" class="btn">Read More</a> -->
        <a href="games" class="btn" style="font-family: 'Courier New'">Play Now</a>

    </div>
</header>


</body>
</html>