<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="font-family: Impact">Physics Trivia</title>
</head>
<style>
    body {
        padding: 25px;
        background-color: white;
        color: black;
        font-size: 25px;
    }

    .dark-mode {
        background-color: black;
        color: white;
    }
</style>

<body>

    <header class="showcase">
        <div class="container showcase-inner">
        <h1 style="color: dodgerblue; background-color: yellow; text-align: center">10 Questions. Ready... Set... Go!</h1>
        </div>
        <form>
            <label for="enterAnswer" style="font-family: 'Courier New'">Answer by entering any of these options: a, b, c, d</label><br>
            <input type="text" id="enterAnswer" name="enterAnswer"><br>
        </form>
    </header>
    <a class="btn" >Dark Mode</a>

    <script>
        function toggleSecondTheme() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
        const quizContainer = document.getElementById('quiz');
        const resultsContainer = document.getElementById('results');
        const submitButton = document.getElementById('submit');
    </script>

</body>
</html>