<!DOCTYPE html>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
       lang="en">
<head>
    <meta charset="UTF-8">
   

      <title>crossy road</title>

      <div>
        <h1> How to Play</h1>
    </div>
      <style>
            body {
                overflow: hidden;
            }
            canvas {
                position: absolute;
                left: 0px;
                top: 0px;
            }
            #projects {
				position: absolute;
				left: 150px;
				top: 550px;
				background-color: rgb(140, 140, 140);
				color: white;
				padding: 230px, 10px;
				text-decoration: none;
				width: 300px;
				height: 40px;
				text-align: center;
				display: block;
			}
			</style>
	</head>	
   <body>
      <canvas id="mycanvas"></canvas>
   </body>

<iframe height="300" style="width: 100%;" scrolling="no" title="Crossy Road with three.js" src="https://codepen.io/HunorMarton/embed/JwWLJo?default-tab=html%2Cresult" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
    See the Pen <a href="https://codepen.io/HunorMarton/pen/JwWLJo">
    Crossy Road with three.js</a> by Hunor Marton Borbely (<a href="https://codepen.io/HunorMarton">@HunorMarton</a>)
    on <a href="https://codepen.io">CodePen</a>.
</iframe>

<div>
    <h1> How to Play</h1>
</div>
</html>
