<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='Physics Trivia')">
</head>

    <body>
        <section th:fragment="content">


            <div class="showcase">
                <br>
                <br>
                <h1>Chemistry Sokoban</h1>
                <h2>Help the scientist put the reactants in their designated place in order to start an experiment</h2>
                <h2>Use arrow keys to move the scientist around</h2>
                <h2>Push reactants onto red tiles </h2>
                </div>
                <div class="container">

                <div class="row">
                    <div class="col-sm-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Play Now!</h2>
                                <p class="card-text">
                                    Know your stuff already? Let's put it to the test!
                                </p>

                                <a href="physicsTrivia" class="btn1 btn-outline-primary btn-sm">
                                    Click here
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Read More</h2>
                                <p class="card-text">
                                    Not 100% confident yet? Prepare yourself before playing!
                                </p>

                                <a href="chemistry_sources" class="btn1 btn-outline-primary btn-sm">
                                    Click here
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">Go Back</h2>
                                <p class="card-text">
                                    Don't wanna play this game? Head back to the directory!
                                </p>

                                <a href="games_home_page" class="btn1 btn-outline-primary btn-sm">
                                    Click here
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                canvas {
                    border:1px solid #d3d3d3;
                    background-color: #f1f1f1;
                }
            </style>
            <body onload()="startGame()">

            <script>
                function startGame() {

                }
            </script>
            </body>
            </section>

    </body>
</html>