<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Games</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Games Index</h1>
        <p>This is a list of games. Search to find what you're looking for.</p>
       <!--- <a href="#" class="btn">Read More</a> -->
        <a href="" class="btn">Play Now</a>

    </div>
</header>


</body>
</html>