<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='Games')">
<head>
</head>


<body>
<section th:fragment="content">

<style>
    .wrapper {

        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 160px;
        grid-gap: 10px;
        color: steelblue;
    }
    .box {
        background-color: lightskyblue;
        color: #fff;
        border-radius: 5px;
        padding: 5px;
        font-size: 100%;
        max-height: 160px;
    }
    img {
        max-width: 80%;
        max-height: 80%;
    }
    .description {
        padding: 10px;
    }
</style>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Games</h1>
        <h2>Click to play!</h2>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 mb-4">
                    <div class="card">
                        <img class="img-box1" id="game1" src="/images/physics_game_logo.png"/>
                        <div class="card-body">
                            <h2 class="card-title">Physics Trivia</h2>
                            <p class="card-text">
                                A trivia game about mechanics
                            </p>

                            <a href="physics_game" class="btn1 btn-outline-primary btn-sm">
                                Click here
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-4">
                    <div class="card">
                        <img class="img-box1" id="game2" src="/images/medicine game logo.png"/>

                        <div class="card-body">
                            <h2 class="card-title">Medical Health Trivia</h2>
                            <p class="card-text">
                                A trivia game about recognizing medical emergencies
                            </p>

                            <a href="medical_game" class="btn1 btn-outline-primary btn-sm">
                                Click here
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-4">
                    <div class="card">
                        <img class="img-box1" id="game3" src="/images/java_logo.png"/>

                        <div class="card-body">
                            <h2 class="card-title">Bio Wordle</h2>
                            <p class="card-text">
                                Wordle but with a biology-themed word list
                            </p>

                            <a href="#" class="btn1 btn-outline-primary btn-sm">
                                Coming Soon!
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-4">
                    <div class="card">
                        <img class="img-box1" id="game4" src="/images/beaker4.png"/>

                        <div class="card-body">
                            <h2 class="card-title">Chemistry Snake Game</h2>
                            <p class="card-text">
                                Play a chemistry-themed snake game!
                            </p>

                            <a href="chemistry_game" class="btn1 btn-outline-primary btn-sm">
                                Click here
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 mb-4">
                    <div class="card">
                        <img class="img-box1" id="game3" src="/images/java_logo.png"/>

                        <div class="card-body">
                            <h2 class="card-title">Scores</h2>
                            <p class="card-text">
                                Add your game scores here!
                            </p>

                            <a href="database/person" class="btn1 btn-outline-primary btn-sm">
                                Click Here
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</header>
</section>
</body>
</html>