<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:include="/layout :: page(title='Medical Emergencies Trivia')">
</head>

<body>
<section th:fragment="content">


    <div class="showcase">
        <br>
        <br>
        <h1>Recognizing Medical Emergencies Trivia</h1>
        <h2>How can you recognize medical emergencies? Play this game to learn symptoms of emergencies and how to prevent them!</h2>
        <h2>There are 10 questions. Once you enter an answer, you cannot change it.</h2>
        <h2>When you finish answering all 10 questions, your score will be revealed.</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Play Now!</h2>
                        <p class="card-text">
                            Know your stuff already? Let's put it to the test!
                        </p>

                        <a href="medicalTrivia" class="btn1 btn-outline-primary btn-sm">
                            Click here
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Read More</h2>
                        <p class="card-text">
                            Not 100% confident yet? Prepare yourself before playing!
                        </p>

                        <a href="medical_sources" class="btn1 btn-outline-primary btn-sm">
                            Click here
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Go Back</h2>
                        <p class="card-text">
                            Don't wanna play this game? Head back to the directory!
                        </p>

                        <a href="games_home_page" class="btn1 btn-outline-primary btn-sm">
                            Click here
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>




</section>
</body>
</html>