<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="font-family: Impact">Physics Trivia</title>
</head>

<body>

    <header class="showcase">
        <div class="container showcase-inner">
        <h1 style="color: dodgerblue; background-color: yellow; text-align: center">10 Questions. Ready... Set... Go!</h1>
        </div>
        <div id="quiz"></div>
        <button id="submit">Submit Answers!</button>
        <div id="results"></div>
        <div style="max-width: 18rem;">
            <label for="answer">1st Letter?</label>
            <input name="answer" id="answer" maxlength="1">
            <p id="answerPrint" th:text="${answer}"></p>
        </div>
        <form>
            <label for="enterAnswer" style="font-family: 'Courier New'">Answer by entering any of these options: a, b, c, d</label><br>
            <input type="text" id="enterAnswer" name="enterAnswer"><br>
        </form>
    </header>

    <style>
        body {
            padding: 25px;
            background: url('../images/flappy-bird.jpg');
            color: black;
            font-size: 25px;
        }
    </style>

</body>
</html>