<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/overlaymenu :: commonhead">...</div>
    <title>Our Purpose</title>
</head>
<body>

<div th:replace="fragments/overlaymenu :: overlaymenu">...</div>

<header class="showcase">
    <div class="container showcase-inner">
        <h1>Physics Trivia</h1>
        <p>Physics Trivia puts your knowledge of mechanics to the test!</p>
        <p>There are 10 questions. Once you enter an answer, you cannot change it.</p>
        <p>When you finish answering all 10 questions, your score will be revealed.</p>
        <a href="/physicsTrivia" class="btn" >Play Now</a>
        <a href="/physics_sources" class="btn">Read More</a>
    </div>
</header>


</body>
</html>